.container {
    
    opacity: 1;
   
}

body {
background:url(../img/2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    opacity: 1;
}

footer{
   font-family: 'Montserrat', sans-serif;
    opacity: 0.4;
    position: absolute;
    text-align: right;
    float: right;
    bottom: 1px;
    right: 2%;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.drop_zone{
    font-size: 20px;
}


@media screen and (max-width:500px){
    footer{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.4;
    position: absolute;
    text-align: right;
    float: right;
    bottom: 1px;
    right: 2%;
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px black;
    
}  
    .drop_zone {
        font-size: 15px;
    }
    
    
    .container {
        padding: 4%;
        margin-top: 2%;
        text-align: center;
    }
    
    h1{
        margin-left: 10px;
    }
}

@media screen and (min-width:500px){
    h1{
        font-size: 50px;
    }
    .container {
        margin-top: 10%;
    }
}
